<%- include ('../partials/header') %>

<form action="/campgrounds/<%= campground._id %>/comments" method="post">
    
<div class="container">

    <h1>Add new comment to <%= campground.name %></h1>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Text</label>
        <input type="text" name="comment[text]" class="form-control"  aria-describedby="emailHelp" placeholder="Text">
    </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author</label>
        <input type="text" name="comment[author]" class="form-control" placeholder="Author">
      </div>

      
      <button type="submit" class="btn btn-primary">Submit</button>

      <a href="/campgrounds">Go Back</a>
</div>

  </form>



<%- include ('../partials/footer') %>